body: background: linear-gradient(to right, lightgreen, teal);
.nav {
background:rgba(0,0,0,0.2);
  background-color:mediumspringgreen;  text-shadow: 2px 2px 5px navy;
grid-area:nav;

}

.footer {
  background:rgba(0,0,0,0.2);
background-color:mediumspringgreen; 
  text-shadow: 2px 2px 5px navy;;
grid-area:footer;

}

.main {
background:rgba(0,0,0,0.2);
  background-color:mediumspringgreen; text-shadow: 2px 2px 5px navy;
grid-area: main;

}
.header {
  background:rgba(0,0,0,0.2);
background-color:mediumspringgreen; text-shadow: 2px 2px 5px navy;;
grid-area: header;

}
.container1 { /*for index.html*/
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
    }
